<?xml version="1.0" ?>
<config>
    <modules>
        <TZ_Stores>
            <version>0.1.0</version>
        </TZ_Stores>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tzstores>
                    <file>tz_stores.xml</file>
                </tzstores>
            </updates>
        </layout>
        <routers>
            <tzstores>
                <use>standard</use>
                <args>
                    <module>TZ_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </tzstores>
        </routers>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <tzstores>
                        <class>tzstores/observer</class>
                        <method>addToTopmenu</method>
                    </tzstores>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <tzstores_admin>
                <use>admin</use>
                <args>
                    <module>TZ_Stores</module>
                    <frontName>tzstores_admin</frontName>
                </args>
            </tzstores_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <tzstores module="tzstores">
                <title>Offline Stores</title>
                <sort_order>89</sort_order>
                <!--<action>tzstores_admin/adminhtml_stores</action>-->
                <children>
                    <allofflinestores>
                        <title>All Offline Stores</title>
                        <action>tzstores_admin/adminhtml_stores</action>
                        <sort_order>10</sort_order>
                    </allofflinestores>
                    <addofflinestore>
                        <title>Add Offline Store</title>
                        <action>tzstores_admin/adminhtml_stores/new</action>
                        <sort_order>20</sort_order>
                    </addofflinestore>
                    <settings>
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/stores_options</action>
                        <sort_order>30</sort_order>
                    </settings>
                </children>
            </tzstores>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stores_options>
                                            <title>Offline Stores Module Settings</title>
                                        </stores_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <tzstores>
                <class>TZ_Stores_Block</class>
            </tzstores>
        </blocks>
        <helpers>
            <tzstores>
                <class>TZ_Stores_Helper</class>
            </tzstores>
            <stores>
                <class>TZ_Stores_Helper</class>
            </stores>
        </helpers>
        <models>
            <tzstores>
                <class>TZ_Stores_Model</class>
                <resourceModel>tzstores_resource</resourceModel>
            </tzstores>
            <tzstores_resource>
                <class>TZ_Stores_Model_Resource</class>
                <entities>
                    <table_stores>
                        <table>tz_stores_entities</table>
                    </table_stores>
                </entities>
            </tzstores_resource>
        </models>
        <resources>
            <tzstores_setup>
                <setup>
                    <module>TZ_Stores</module>
                </setup>
            </tzstores_setup>
        </resources>
    </global>
</config>
