<?xml version="1.0" ?>
<config>
    <modules>
        <Webinse_Discount>
            <version>0.1.0</version>
        </Webinse_Discount>
    </modules>
    <global>
        <helpers>
            <discount>
                <class>Webinse_Discount_Helper</class>
            </discount>
        </helpers>
        <blocks>
            <discount>
                <class>Webinse_Discount_Block</class>
            </discount>
        </blocks>
        <models>
            <discount>
                <class>Webinse_Discount_Model</class>
                <resourceModel>discount_resource</resourceModel>
            </discount>
            <discount_resource>
                <class>Webinse_Discount_Model_Resource</class>
                <entities>
                    <entity>
                        <table>webinse_discount_entities</table>
                    </entity>
                </entities>
            </discount_resource>
        </models>
        <resources>
            <discount_setup>
                <setup>
                    <module>Webinse_Discount</module>
                </setup>
            </discount_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <discount_admin>
                <use>admin</use>
                <args>
                    <module>Webinse_Discount</module>
                    <frontName>discount_admin</frontName>
                </args>
            </discount_admin>
        </routers>
    </admin>
</config>