<?xml version="1.0" ?>
<config>
    <modules>
        <Webinse_Company>
            <version>0.1.0</version>
        </Webinse_Company>
    </modules>
    <frontend>
        <routers>
            <company>
                <use>standard</use>
                <args>
                    <module>Webinse_Company</module>
                    <frontName>company</frontName>
                </args>
            </company>
        </routers>
    </frontend>
    <global>
        <helpers>
            <company>
                <class>Webinse_Company_Helper</class>
            </company>
        </helpers>
        <blocks>
            <company>
                <class>Webinse_Company_Block</class>
            </company>
        </blocks>
        <models>
            <company>
                <class>Webinse_Company_Model</class>
                <resourceModel>company_resource</resourceModel>
            </company>
            <company_resource>
                <class>Webinse_Company_Model_Resource</class>
                <entities>
                    <entity>
                        <table>webinse_company_entities</table>
                    </entity>
                </entities>
            </company_resource>
        </models>
        <resources>
            <company_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </company_write>
            <company_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </company_read>
            <company_setup>
                <setup>
                    <module>Webinse_Company</module>
                </setup>
            </company_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <company_admin>
                <use>admin</use>
                <args>
                    <module>Webinse_Company</module>
                    <frontName>company_admin</frontName>
                </args>
            </company_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <company module="company">
                <title>Company</title>
                <sort_order>44</sort_order>
                <action>company_admin/adminhtml_company</action>
                <children>
                    <managecompanies>
                        <title>Manage Companies</title>
                        <action>company_admin/adminhtml_company</action>
                        <sort_order>10</sort_order>
                    </managecompanies>
                </children>
            </company>
        </menu>
    </adminhtml>
</config>
